# Environment variables — NEVER commit this!
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
venv/
env/
.venv/
*.egg-info/
dist/
build/
.eggs/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store

# Logs
*.log
logs/

# Test artifacts
.pytest_cache/
.coverage
htmlcov/
