# Telegram Bot
python-telegram-bot==21.6

# HTTP requests
httpx==0.27.2
requests==2.32.3

# OpenAI-compatible SDK (NVIDIA NIM uses OpenAI API format)
openai==1.54.3

# Environment variables
python-dotenv==1.0.1

# Data handling
pydantic==2.9.2

# Async support
aiohttp==3.10.10
